:root {
    /* COLORS */
    --primary-color: #666385;
    --secondary-color: #1A1363;

    /* FONT-SIZE */
    --font-sl: 20px;
    --font-md: 25px;
    --font-lg: 31px;
    --font-xl: 41px;

    /* ICON-SIZE */
    --icon-size: 28px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

ul li{
    list-style: none;
}

i{
    font-size: var(--icon-size);
    cursor: pointer;
}

button{
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

input,textarea{
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

@media (max-width: 767px){
    :root{
        --font-sl: 18px;
        --font-md: 20px;
        --font-lg: 25px;
        --font-xl: 30px;
    }
}

/* ==================== HEADER =================== */
header{
    padding: 20px;   
}

.header_container{
    display: flex;
    gap: 20px;
}

.header_logo {
    display:inline-block;
    background:transparent;
    cursor: pointer;
}

.header_one {
    font-family: "Great Vibes", cursive;
    font-size: 110px;
    letter-spacing: 5px;
    font-weight: 400;
    background: linear-gradient(90deg, #69b3ff 0%, #9b7cff 35%, #ff3cae 70%, #ff6b4a 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    text-shadow: 0 2px 0 rgba(0,0,0,0.06);
}

.header_one span {
    background: inherit;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display:inline-block;
}

.header_event {
    font-family: "Luckiest Guy", sans-serif;
    font-size: 34px;
    color:#111;
    display:block;
    transform: rotate(-2deg);
    letter-spacing: 0.5px;
    text-shadow: 0 3px 0 rgba(0,0,0,0.06);
    margin-top: -25px;
    margin-left: 25px;
}

@media (max-width:480px){
    .header_one{ font-size:64px; }
    .header_event{ font-size:20px; }
}

.header_right{
    align-self: flex-end;
    flex: 1;
}

.header_right ul{
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.header_right ul li{
    padding: 10px;
}

.header_right ul li a{
    font-size: var(--font-sl);
    font-weight: 400;
}

.header_right .header_link_active{
    font-weight: 700;
    border-bottom: 3px solid black;
}

@media (max-width: 767px){
    .header_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header_right{
        align-self: center;
    }
    .header_right ul{
        flex-direction: column;
    }
}

@media (max-width: 1200px) and (min-width: 768px){
    .header_right ul{
        flex-wrap: wrap;
    }
}

/* ==================== SECITON 1 =================== */
.section_1{
    background-image: url('assets/Rectangle 17.png');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_1_conatiner{
    padding: 10px;
}

.section_1_conatiner > h2{
    font-size: 55px;
    padding: 10px 0;
    color: white;
    text-align: center;
}

.section_1_box_container{
    display: flex;
    gap: 20px;
    align-items: center;
}

.dropdown_box{
    padding: 0 20px;
    margin: 0 20px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

.dropdown_btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 10px 0;
    border-radius: 10px;
}

.dropdown_btn > h2{
    font-size: var(--font-md);
    color: #b0b0b0;
    font-weight: 400;
}

.dropdown_content {
    display: none;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 70px;
    left: -2px;
    z-index: 1000;
    width: 100%;
}

.dropdown_content > h2{
    font-size: var(--font-md);
    color: #b0b0b0;
    font-weight: 400;
    border-bottom: 1px solid black;
}

.dropdown_content > ul li{
    font-size: var(--font-sm);
    font-weight: 400;
    padding: 5px 0;
}

.section_1_button button{
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #b0b0b0;
    color: white;
    font-weight: 600;
    font-size: var(--font-md);
    border: none;
}

@media (max-width: 767px){
    .section_1_conatiner > h2{
        font-size: var(--font-lg);
    }
    .section_1_box_container{
        flex-direction: column;
    }
}

/* ==================== SECITON 2 =================== */
.section_2{
    padding: 10px;
    margin: 10px;
}

.section_2 > div:first-child{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.section_2 > div:first-child > h2{
    font-size: var(--font-lg);
    font-weight: 500;
}

.section_2 > div:first-child > p{
    font-size: var(--font-sl);
    font-weight: 400;
    cursor: pointer;
}

.slide_wrapper {
    width: 100%;
    margin: 0 auto;
}

.slide_container {
    width: 100%;
    position: relative;
}

.slide_page {
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.slide_page.active {
    display: grid;
}

.slide_card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.slide_card h2 {
    padding: 10px 0;
    font-size: var(--font-sl);
    font-weight: 600;
}

.slide_btn_box {
    margin-top: 20px;
    text-align: center;
}

.slide_btn_box button {
    padding: 10px 15px;
    font-size: 24px;
    margin: 0 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.slide_btn_box button:first-child,
.slide_btn_box button:last-child{
    background-color: #b0b0b0;
    color: white;
}

.slide_btn_box button:nth-child(2),
.slide_btn_box button:nth-child(3),
.slide_btn_box button:nth-child(4){
    border: 1px solid #b0b0b0;
    color: black;
    padding: 10px 20px;
}

@media (max-width: 767px){
    .slide_page {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 1200px) and (min-width: 768px){
    .slide_page {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* ==================== SECITON 3 =================== */
.section_3{
    padding: 10px;
    margin: 10px;
}

.section_3 > div:first-child{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.section_3 > div:first-child > h2{
    font-size: var(--font-lg);
    font-weight: 500;
}

.section_3 > div:first-child > p{
    font-size: var(--font-sl);
    font-weight: 400;
    cursor: pointer;
}

.slide_wrapper_2 {
    width: 100%;
    margin: 0 auto;
}

.slide_container_2 {
    width: 100%;
    position: relative;
}

.slide_page_2 {
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.slide_page_2.active_2 {
    display: grid;
}

.slide_card_2 img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.slide_card_2 h2 {
    padding: 10px 0;
    font-size: var(--font-sl);
    font-weight: 600;
}

.slide_btn_box_2 {
    margin-top: 20px;
    text-align: center;
}

.slide_btn_box_2 button {
    padding: 10px 15px;
    font-size: 24px;
    margin: 0 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.slide_btn_box_2 button:first-child,
.slide_btn_box_2 button:last-child {
    background-color: #b0b0b0;
    color: white;
}

.slide_btn_box_2 button.slide_num_2 {
    border: 1px solid #b0b0b0;
    color: black;
    padding: 10px 20px;
}

@media (max-width: 767px){
    .slide_page_2 {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 1200px) and (min-width: 768px){
    .slide_page_2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* ==================== SECITON 4 =================== */
.section_4_container{
    width: 80%;
    margin: 20px auto;
    padding: 30px;
    border: 2px solid black;
    display: flex;
    gap: 20px;
}

.section_4_right{
    padding: 10px;
}

.section_4_right h2{
    font-size: var(--font-xl);
    font-weight: 600;
    padding: 10px 0;
}

.section_4_right p{
    font-size: var(--font-lg);
    font-weight: 400;
    padding: 10px 0;
    width: 80%;
}

.section_4_right div{
    width: 80%;
    padding: 10px 0;
    text-align: right;
}

.section_4_right div button{
    padding: 10px;
    width: 50%;
    font-size: var(--font-lg);
    font-weight: 500;
    background-color: #b0b0b0;
    color: black;
    border: none;
    margin: 10px 0;
}

@media (max-width: 767px){
    .section_4_container{
        flex-direction: column;
    }
    .section_4_left img{
        width: 100%;
    }
    .section_4_right p{
        width: 100%;
    }
    .section_4_right div{
        width: 100%;
    }
}

@media (max-width: 1200px) and (min-width: 768px){
    .section_4_container{
        flex-direction: column;
    }
    .section_4_left img{
        width: 100%;
    }
    .section_4_right p{
        width: 100%;
    }
    .section_4_right div{
        width: 100%;
    }
}

/* ==================== SECITON 5 =================== */
.section_5{
    padding: 10px;
    margin: 10px;
}

.section_5 > div:first-child{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.section_5 > div:first-child > h2{
    font-size: var(--font-lg);
    font-weight: 500;
}

.section_5 > div:first-child > p{
    font-size: var(--font-sl);
    font-weight: 400;
}

.section_5_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 10px;
}

.section_5_card{
    max-width: 320px;
    text-align: center;
    border: 1px solid #b0b0b0;
    border-radius: 10px;
}

.section_5_container > div:nth-child(6) img{
    height: 213px;
}

.section_5_card img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.section_5_card h2{
    padding: 15px 0;
    font-size: var(--font-md);
    font-weight: 600;
}

@media (max-width: 767px){
    .section_5_container{
        grid-template-columns: repeat(1, 1fr);
    }
    .section_5_card{
        max-width: 100%;
    }
}

@media (max-width: 1200px) and (min-width: 768px){
    .section_5_container{
        grid-template-columns: repeat(2, 1fr);
    }
    .section_5_card{
        max-width: 100%;
    }
}

/* ==================== SECITON 6 =================== */
.section_6{
    padding: 10px;
    margin: 10px;
}

.section_6 > h2{
    font-size: var(--font-lg);
    font-weight: 500;
    padding: 10px;
}

.section_6_container{
    width: 90%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(3,150px);
}

.section_6_container > div:nth-child(1){
    grid-column: 1 / 3;
    grid-row: 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 15px;
    height: fit-content;
}

.section_6_container > div:nth-child(1) h2,
.section_6_container > div:nth-child(3) h2{
    color: #cccccc;
    font-size: var(--font-md);
    padding: 10px;
}

.section_6_container > div:nth-child(1) > div:first-child,
.section_6_container > div:nth-child(3) > div:first-child{
    background-color: #cccccc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.section_6_container > div:nth-child(1) p,
.section_6_container > div:nth-child(3) p{
    color: #cccccc;
    font-size: var(--font-sl);
    padding: 10px;
}

.section_6_container > div:nth-child(2){
    grid-column: 2 / 5;
    grid-row: 2 / 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 70px;
    background-color: #c4c4c4;
    height: fit-content;
    border-radius: 10px;
    padding: 10px;
}

.section_6_container > div:nth-child(2) > div:first-child img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    top: -30px;
}

.section_6_container > div:nth-child(2) > div:nth-child(2){
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.section_6_container > div:nth-child(2) > div:nth-child(2) i{
    background-color: black;
    color: white;
    border-radius: 50%;
    margin: 0 10px;
    font-size: var(--font-md);
}

.section_6_container > div:nth-child(2) h2{
    font-size: var(--font-md);
    padding: 10px;
}

.section_6_container > div:nth-child(2) p{
    font-size: var(--font-sl);
    padding: 10px;
}

.section_6_container > div:nth-child(3){
    grid-column: 4 / 6;
    grid-row: 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 15px;
    height: fit-content;
}

.section_6 > div:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_6_dots {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ececec;
    margin: 10px;
}

.section_6_dots_active{
    background-color: #bdbdbd;
}

@media (max-width: 767px) {
    .section_6_container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 95%;
        gap: 20px;
    }
    .section_6_container > div:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: auto;
    }
    .section_6_container > div:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: auto;
        bottom: 0;
        width: 100%;
    }
    .section_6_container > div:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: auto;
    }
    .section_6_container > div:nth-child(2) > div:nth-child(2) i {
        font-size: 24px;
        padding: 8px;
    }
    .section_6_dots {
        width: 14px;
        height: 14px;
    }
}

@media (max-width: 1200px) and (min-width: 768px) {
    .section_6_container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        width: 95%;
    }
    .section_6_container > div:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: auto;
    }
    .section_6_container > div:nth-child(2) {
        grid-column: 1 / 4;
        bottom: 40px;
    }
    .section_6_container > div:nth-child(3) {
        grid-column: 3 / 4;
        grid-row: auto;
    }
    .section_6_container > div:nth-child(2) > div:nth-child(2) i {
        font-size: 26px;
        padding: 10px;
    }
}
/* ==================== FOOTER ================= */
footer{
    background-color: #f5f5f5;
    padding: 20px;
}

.footer_top{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.footer_top_part_1 > div:last-child{
    text-align: right;
    padding: 10px;
}

.footer_top_part_1 h2{
    font-size: var(--font-sl);
    padding: 10px 0;
    text-align: right;
}

.footer_social_links{
    text-align: center;
}

.footer_social_links i{
    font-size: var(--font-sl);
    margin: 0 5px;
}

.footer_top h2{
    font-size: var(--font-sl);
    padding: 10px 0;
}

.footer_top p{
    font-size: var(--font-sl);
    padding: 1px 0;
}

.footer_top button{
    padding: 10px 20px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    font-size: var(--font-sl);
    margin: 10px 0;
    font-weight: 500;
}

.footer_bottom{
    text-align: center;
    padding: 20px 0;
}

.footer_bottom h2{
    font-size: var(--font-sl);
    padding: 1px 0;
    font-weight: 400;
    color: #bfbfbf;
}

.footer_bottom h3{
    font-size: var(--font-sl);
    padding: 1px 0;
    text-decoration: underline;
    font-weight: 400;
}

@media (max-width: 767px) {
    .footer_top {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    .footer_top_part_1 h2,
    .footer_top_part_1 > div:last-child {
        text-align: center;
    }
    .footer_social_links i {
        font-size: var(--font-sl);
        margin: 0 8px;
    }
    .footer_top button {
        width: 100%;
        padding: 12px 0;
    }
}

@media (max-width: 1200px) and (min-width: 768px) {
    .footer_top {
        flex-direction: column;
        gap: 25px;
        text-align: center;
    }
    .footer_top > div{
        padding: 10px;
    }
    .footer_top_part_1 h2 {
        text-align: center;
    }
    .footer_top_part_1 > div:last-child {
        text-align: center;
    }
    .footer_top button {
        width: 50%;
        margin: auto;
        padding: 12px;
    }
    .footer_social_links i {
        margin: 0 10px;
        font-size: var(--font-sl);
    }
}

/* ==================== venue.html ================ */
/* ==================== VENUE SECTION 1 ================ */
.venue_section_1{
    background-image: url('assets/Rectangle 17.png');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.venue_section_1_container{
    padding: 10px;
}

.venue_section_1_container > h2{
    font-size: 55px;
    padding: 10px 0;
    color: white;
    text-align: center;
    word-spacing: 3px;
    letter-spacing: 3px;
}

.venue_section_1_box_container{
    display: flex;
    gap: 20px;
    align-items: center;
}

@media (max-width: 767px){
    .venue_section_1_container > h2{
        font-size: var(--font-lg);
    }
    .venue_section_1_box_container{
        flex-direction: column;
    }
}

/* ==================== VENUE SECTION 2 ================ */
.venue_section_2_container{
    margin: 10px;
    padding: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.venue_section_2_container > div:not(:last-child){
    border: 1px solid black;
}

@media (max-width: 767px){
    .venue_section_2_container{
        flex-direction: column;
    }
}

@media (max-width: 1200px) and (min-width: 768px){
    .venue_section_2_container{
        flex-direction: column;
    }
}

/* ==================== VENUE SECTION 3 ================ */
.venue_section_3{
    margin: 10px;
    padding: 10px;
}

.venue_section_3 > div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.venue_section_3 > div:first-child h2{
    font-size: var(--font-lg);
    padding: 10px 0;
    font-weight: 400;
}

.venue_section_3 > div:first-child p{
    font-size: var(--font-sl);
    padding: 10px 0;
    cursor: pointer;
}

.venue_section_3_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 10px;
    margin: 10px auto;
    width: 95%;
}

.venue_section_3_card{
    max-width: 430px;
    border-radius: 10px;
}

.venue_section_3_card > img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.venue_section_3_card h2{
    font-size: var(--font-md);
    font-weight: 400;
}

.venue_section_3_card_flex{
    display: flex;
    gap: 4px;
    align-items: center;
}

.venue_section_3_card_flex p{
    font-size: var(--font-md);
    color: #6a6a6a;
}

@media (max-width: 767px){
    .venue_section_3_container{
        grid-template-columns: repeat(1,1fr);
    }
    .venue_section_3_card{
        max-width: 100%;
    }
}

@media (max-width: 1200px) and (min-width: 768px){
    .venue_section_3_container{
        grid-template-columns: repeat(2,1fr);
    }
    .venue_section_3_card{
        max-width: 100%;
    }
}

/* ==================== VENUE SECTION 4 ================ */
.venue_section_4_container{
    width: 80%;
    margin: 10px auto;
    padding: 30px;
    border: 1px solid black;
    display: flex;
    gap: 20px;
    align-items: center;
}

.venue_section_4_left,
.venue_section_4_right{
    flex: 1;
}

.venue_section_4_left img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.venue_section_4_right h2{
    font-size: var(--font-xl);
    font-weight: 600;
    padding: 10px 0;
}

.venue_section_4_right p{
    font-size: var(--font-lg);
    font-weight: 400;
    padding: 10px 0;
}

.venue_section_4_right div{
    width: 100%;
    padding: 10px 0;
    text-align: right;
}

.venue_section_4_right div button{
    padding: 10px;
    width: 50%;
    font-size: var(--font-lg);
    font-weight: 500;
    background-color: #b0b0b0;
    color: black;
    border: none;
    margin: 10px 0;
}

@media (max-width: 767px){
    .venue_section_4_container{
        flex-direction: column;
    }
    .venue_section_4_left img{
        width: 100%;
    }
    .venue_section_4_right p{
        width: 100%;
    }
    .venue_section_4_right div{
        width: 100%;
    }
}

@media (max-width: 1200px) and (min-width: 768px){
    .venue_section_4_container{
        flex-direction: column;
    }
    .venue_section_4_left img{
        width: 100%;
    }
    .venue_section_4_right p{
        width: 100%;
    }
    .venue_section_4_right div{
        width: 100%;
    }
}

/* ==================== chat.html ================ */
/* ==================== CHAT SECTION 1 ================ */
.chat_section_1{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.chat_section_1 button{
    padding: 10px;
    font-size: var(--font-sl);
    font-weight: 500;
    background-color: green;
    color: white;
    border: none;
    margin: 10px 0;
    border-radius: 10px;
}

.chat_section_1 button i{
    margin: 0 5px;
}

.chat_section_1 h2{
    font-size: var(--font-sl);
    font-weight: 400;
    padding: 10px 0;
}

.chat_section_1 h2 i{
    margin: 0 5px;
}

@media (max-width: 767px){
    .chat_section_1{
        flex-direction: column;
    }
}

@media (max-width: 1200px) and (min-width: 768px){
    .chat_section_1{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

/* ==================== CHAT SECTION 2 ================ */
.chat_section_2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
}

#chat_section_2_header div span{
    font-size: 130px;
}

#chat_section_2_header div:nth-child(2){
    font-size: 50px;
    letter-spacing: 2px;
}

.chat_section_2 button{
    padding: 10px;
    font-size: var(--font-sl);
    font-weight: 500;
    background-color: green;
    color: white;
    border: none;
    margin: 10px 0;
    border-radius: 10px;
}

.chat_section_2 h2{
    font-size: var(--font-sl);
    font-weight: 400;
    padding: 10px 0;
}

.chat_section_2 h3{
    font-size: var(--font-sl);
    font-weight: 400;
    padding: 10px 0;
    color: #1ca3f7;
}

/* ==================== suppliers.html ================ */
/* ==================== SUPPLIERS SECTION 1 ================ */
.suppliers_section_1{
    background-image: url('assets/image 14.png');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.suppliers_section_1 h2{
    font-size: 55px;
    font-weight: 600;
    color: white;
}

@media (max-width: 767px){
    .suppliers_section_1 h2{
        font-size: 30px;
    }
}

/* ==================== SUPPLIERS SECTION 2 ================ */
.suppliers_section_2{
    margin: 10px;
    padding: 10px;
}

.suppliers_section_2 > h2{
    font-size: var(--font-lg);
    font-weight: 500;
    padding: 10px 0;
}

.suppliers_section_2_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    width: 90%;
    margin: 10px auto;
}

.suppliers_section_2_blog {
    max-width: 300px;
}

.suppliers_section_2_blog h2{
    font-size: var(--font-sl);
    font-weight: 500;
    padding: 10px 0;
}

.suppliers_section_2_blog img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

@media (max-width: 767px){
    .suppliers_section_2_container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 1200px) and (min-width: 768px){
    .suppliers_section_2_container{
        grid-template-columns: repeat(3,1fr);
    }
}

/* ==================== SUPPLIERS SECTION 3 ================ */
.suppliers_section_3{
    margin: 10px;
    padding: 10px;
}

.suppliers_section_3 > div:first-child{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.suppliers_section_3 > div:first-child h2{
    font-size: var(--font-lg);
    font-weight: 500;
}

.suppliers_section_3 > div:first-child p{
    font-size: var(--font-sl);
    font-weight: 400;
}

.suppliers_section_3_conatiner{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    padding: 10px;
    margin: 10px;
}

.suppliers_section_3_blog{
    max-width: 350px;
}

.suppliers_section_3_blog h2{
    font-size: var(--font-md);
    font-weight: 600;
}

.suppliers_section_3_blog h3{
    font-size: var(--font-md);
    font-weight: 400;
}

.suppliers_section_3_flex{
    display: flex;
    gap: 5px;
    align-items: center;
}

.suppliers_section_3_flex p{
    font-size: var(--font-sl);
    font-weight: 400;
    color: #b0b0b0;
}

.suppliers_section_3_blog img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border: 1px solid #b0b0b0;
    border-radius: 10px;
}

.suppliers_section_3 > div:last-child{
    text-align: center;
}

.suppliers_section_3 > div:last-child button {
    padding: 5px;
    font-size: 24px;
    margin: 0 10px;
    border: 1px solid #b0b0b0;
    border-radius: 8px;
}

.suppliers_section_3 > div:last-child button:first-child,
.suppliers_section_3 > div:last-child button:last-child {
    background-color: #b0b0b0;
    color: white;
}

@media (max-width: 767px){
    .suppliers_section_3_conatiner{
        grid-template-columns: repeat(1,1fr);
    }
    .suppliers_section_3_blog{
        max-width: 100%;
    }
}

@media (max-width: 1200px) and (min-width: 768px){
    .suppliers_section_3_conatiner{
        grid-template-columns: repeat(2,1fr);
    }
}

/* ==================== media.html ================ */
/* ==================== MEDIA SECTION 1 ================ */
.media_section_1{
    background-image: url('assets/image 12.png');
    background-size: cover;
    background-position: center;
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.media_section_1 div{
    position: absolute;
    top: 30%;
    left: 50%;
}

.media_section_1 h2{
    font-size: 55px;
    font-weight: 600;
    color: white;
    text-align: center;
}

@media (max-width: 767px){
    .media_section_1 h2{
        font-size: 30px;
    }
}

/* ==================== MEDIA SECTION 2 ================ */
.media_section_2{
    margin: 10px auto;
    padding: 10px;
    width: 90%;
}

.media_section_2 > div:first-child{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.media_section_2 > div:first-child h2{
    font-size: var(--font-lg);
    font-weight: 500;
}

.media_section_2 > div:first-child p{
    font-size: var(--font-sl);
    font-weight: 400;
}

.media_section_2_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    padding: 10px;
    margin: 10px;
}

.media_section_2_blog{
    max-width: 370px;
    width: 100%;
    margin: 20px auto;
    background-color: #cacaca;
    border-radius: 10px;
}

.media_section_2_blog h2{
    font-size: var(--font-md);
    font-weight: 600;
    padding: 5px 10px;
}

.media_section_2_blog h3{
    font-size: var(--font-md);
    font-weight: 400;
    padding: 5px 10px;
}

.media_section_2_blog img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border: 1px solid #b0b0b0;
    border-radius: 10px;
}

.media_section_2_blog p{
    font-size: var(--font-sl);
    font-weight: 600;
    text-align: right;
    padding: 5px 10px;
}

.media_section_2 > div:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
}

.media_section_2 > div:last-child button {
    padding: 5px;
    font-size: 24px;
    margin: 0 10px;
    border: 1px solid #b0b0b0;
    border-radius: 8px;
}

.media_section_2 > div:last-child button:first-child,
.media_section_2 > div:last-child button:last-child {
    background-color: #b0b0b0;
    color: white;
}

@media (max-width: 767px){
    .media_section_2_container{
        grid-template-columns: repeat(1,1fr);
    }
    .media_section_2_blog{
        max-width: 100%;
    }
}

@media (max-width: 1200px) and (min-width: 768px){
    .media_section_2_container{
        grid-template-columns: repeat(2,1fr);
    }
}

/* ==================== about.html ================ */
/* ==================== ABOUT SECTION 1 ================ */
.about_section_1{
    background-image: url('assets/image 11.png');
    background-size: cover;
    background-position: center;
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.about_section_1 div{
    position: absolute;
    top: 30%;
    left: 50%;
}

.about_section_1 h2{
    font-size: 55px;
    font-weight: 600;
    color: white;
    text-align: center;
}

@media (max-width: 767px){
    .about_section_1 h2{
        font-size: 30px;
    }
}

/* ==================== ABOUT SECTION 2 ================ */
.about_section_2_container{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
}

.about_section_2_left,
.about_section_2_right{
    flex: 1;
}

.about_section_2_container img{
    width: 100%;
    object-fit: cover;
}

.about_section_2_container h2{
    font-size: var(--font-lg);
    font-weight: 600;
    padding: 10px 0;
}

.about_section_2_container p{
    font-size: var(--font-sl);
    line-height: 1.6;
    word-spacing: 3px;
}

@media (max-width: 767px){
    .about_section_2_container{
        flex-direction: column;
    }
}

@media (max-width: 1200px) and (min-width: 768px){
    .about_section_2_container{
        flex-direction: column;
    }
}

/* ==================== ABOUT SECTION 3 ================ */
.about_section_3{
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.about_section_3 div{
    text-align: center;
}

.about_section_3 div h2{
    font-size: var(--font-xl);
    font-weight: 600;
}

.about_section_3 div h3{
    font-size: var(--font-lg);
    font-weight: 400;
}

@media (max-width: 767px){
    .about_section_3{
        flex-direction: column;
        margin: 5px;
        padding: 5px;
    }
}

/* ==================== contact.html ================ */
/* ==================== CONTACT SECTION 1 ================ */
.contact_section_1{
    background-image: url('assets/image 5.png');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact_section_1 h2{
    font-size: 55px;
    font-weight: 600;
    color: white;
    text-align: center;
}

@media (max-width: 767px){
    .contact_section_1 h2{
        font-size: 30px;
    }
}

/* ==================== CONTACT SECTION 2 ================ */
.contact_section_2_container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    margin: 20px;
}

.contact_section_2_left,
.contact_section_2_right{
    flex: 1;
    padding: 10px;
}

.contact_section_2_left > div{
    padding: 15px 0;
}

.contact_section_2_left > div h2{
    font-size: var(--font-xl);
    font-weight: 600;
}

.contact_section_2_left > div h3{
    font-size: var(--font-md);
    padding: 5px 0;
    font-weight: 400;
}

.contact_section_2_left > div input,textarea{
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #b0b0b0;
    font-size: var(--font-md);
    color: #c9c9c9;
}

.contact_section_2_left > div input::placeholder,
.contact_section_2_left > div textarea::placeholder{
    color: #c9c9c9;
    padding: 5px;
}

.contact_section_2_left > div button{
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #b0b0b0;
    color: white;
    font-size: var(--font-md);
    margin: 10px 0;
    width: 90%;
    border: 1px solid #c9c9c9;
}

.contact_section_2_right > div{
    padding: 15px 0;
}

.contact_section_2_right > div h2{
    font-size: var(--font-lg);
    font-weight: 600;
}

.contact_section_2_right > div p{
    font-size: var(--font-md);
    font-weight: 400;
}

.contact_section_2_right > div p span{
    text-decoration: underline;
}

@media (max-width: 767px){
    .contact_section_2_container{
        flex-direction: column;
    }
}

/* ==================== login.html ================ */
/* ==================== LOGIN SECITON ================ */
.login_section_container{
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    display: flex;
}

.login_section_left,
.login_section_right{
    flex: 1;
}

.login_section_left {
    position: relative;
}

.login_section_left img{
    width: 100%;
    object-fit: cover;
    height: 650px;
    filter: grayscale(100%);
    display: block;
}

.login_section_left > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    width: 100%;
}

.login_section_left > div h2{
    font-size: 55px;
    font-weight: 600;
}

.login_section_left > div h3{
    font-size: var(--font-lg);
    font-weight: 400;
}

.login_section_right {
    background-color: #626262;
}

.login_section_right_content{
    width: 80%;
    margin: 10px auto;
}

.login_section_right_content > div{
    padding: 15px 0;
}

.login_section_right_content > div h2{
    font-size: var(--font-lg);
    font-weight: 600;
    padding: 5px 0;
    color: white;
}

.login_section_right_content > div p{
    font-size: var(--font-sl);
    font-weight: 400;
    padding: 5px 0;
    color: white;
}

.login_section_right_content > div > input{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #b0b0b0;
    font-size: var(--font-sl);
    color: #d0d0d0;
    border: 1px solid #c9c9c9;
    background: transparent;
}

.login_section_right_content > div > input::placeholder{
    color: #d0d0d0;
    padding: 5px;
}

.login_section_right_flex{
    display: flex;
    gap: 10px;
    align-items: center;
}

.login_section_right_flex div{
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid #898989;
}

.login_section_right_flex h3{
    font-size: 16px;
    font-weight: 400;
    color: #d0d0d0;
}

.login_section_right_content > div button{
    padding: 15px 30px;
    background-color: white;
    color: black;
    font-size: var(--font-md);
    margin: 10px 0;
    width: 100%;
    border: 1px solid #c9c9c9;
}

.login_section_right_content > div:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.login_section_right_content > div h4{
    font-size: var(--font-sl);
    font-weight: 400;
    padding: 5px 0;
    color: #6a81db;
    text-decoration: underline;
}

@media (max-width: 767px){
    .login_section_left > div h2{
        font-size: 40px;
    }
    .login_section_container{
        flex-direction: column;
    }
}

/* ==================== signup.html ================ */
/* ==================== SIGNUP SECITON ================ */
.signup_section_container{
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    display: flex;
}

.signup_section_left,
.signup_section_right{
    flex: 1;
}

.signup_section_left {
    position: relative;
}

.signup_section_left img{
    width: 100%;
    object-fit: cover;
    height: 650px;
    filter: grayscale(100%);
    display: block;
}

.signup_section_left > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    width: 100%;
}

.signup_section_left > div h2{
    font-size: 55px;
    font-weight: 600;
    background: linear-gradient(90deg,
        #19c2ff 0%,
        #0092ff 25%,
        #2c40ff 50%,
        #8a00ff 75%,
        #d300c4 100%
    );
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.signup_section_left > div h3{
    font-size: var(--font-lg);
    font-weight: 400;
    color: white;
}

.signup_section_right {
    background-color: #989191;
}

.signup_section_right_content{
    width: 80%;
    margin: 10px auto;
}

.signup_section_right_content > div{
    padding: 15px 0;
}

.signup_section_right_content > div h2{
    font-size: var(--font-lg);
    font-weight: 600;
    padding: 5px 0;
    color: white;
}

.signup_section_right_content > div p{
    font-size: var(--font-sl);
    font-weight: 400;
    padding: 5px 0;
    color: white;
}

.signup_section_right_content > div > input{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #b0b0b0;
    font-size: var(--font-sl);
    color: #d0d0d0;
    border: 1px solid #c9c9c9;
    background: transparent;
}

.signup_section_right_content > div > input::placeholder{
    color: #d0d0d0;
    padding: 5px;
}

.signup_section_right_content > div button{
    padding: 15px 30px;
    background-color: white;
    color: black;
    font-size: var(--font-md);
    margin: 10px 0;
    width: 100%;
    border: 1px solid #c9c9c9;
}

.signup_section_right_content > div:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.signup_section_right_content > div h3{
    font-size: var(--font-sl);
    font-weight: 500;
    padding: 5px 0;
    color: #0e34cf;
    text-decoration: underline;
}

@media (max-width: 767px){
    .signup_section_left > div h2{
        font-size: 40px;
    }
    .signup_section_container{
        flex-direction: column;
    }
}

/* ==================== END ================ */